<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="MessageMapper" > -->
<mapper namespace="top.linjt.java_learning.mybatis.weChat.mapper.MessageMapper" >

  <select id="get" resultType="top.linjt.java_learning.mybatis.weChat.pojo.MessageBean"  parameterType="int">
    select * from message where id=#{_parameter}
  </select>
  
  <select id="list" resultType="top.linjt.java_learning.mybatis.weChat.pojo.MessageBean">
 	 select * from message 
  </select>

  <select id="query"  resultType="top.linjt.java_learning.mybatis.weChat.pojo.MessageBean">
 	 select * from message  where 1=1 
 	 <if test="command !=null and command.trim() != '' ">
 		 and command like '%' #{command} '%'
 	 </if>
 	 <!-- 支持java的操作符 && ;甚至可以直接调用java的代码; 但是 部分特殊符号需要进行转义,与html方式相同 -->
 	 <if test="description!=null &amp;&amp; !&quot;&quot;.equals(description.trim()) ">
 		   and description like  '%' #{description} '%'
 	 </if>
  </select>
  
    <select id="queryByPage"  resultType="top.linjt.java_learning.mybatis.weChat.pojo.MessageBean">
 	 select * from message 
	<where>
	 	 <if test="command !=null and command.trim() != '' ">
	 		 and command like '%' #{command} '%'
	 	 </if>
	 	 <!-- 支持java的操作符 && ;甚至可以直接调用java的代码; 但是 部分特殊符号需要进行转义,与html方式相同 -->
	 	 <if test="description!=null &amp;&amp; !&quot;&quot;.equals(description.trim()) ">
	 		   and description like  '%' #{description} '%'
	 	 </if>
 	 </where>
<!--  		order by id limit #{offset} ,#{limit} -->
  </select>
  
  <select id="count" resultType="int">
  	 select count(*) from message  where 1=1 
 	 <if test="command !=null and command.trim() != '' ">
 		 and command like '%' #{command} '%'
 	 </if>
 	 <!-- 支持java的操作符 && ;甚至可以直接调用java的代码; 但是 部分特殊符号需要进行转义,与html方式相同 -->
 	 <if test="description!=null &amp;&amp; !&quot;&quot;.equals(description.trim()) ">
 		   and description like  '%' #{description} '%'
 	 </if>
  </select>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="top.linjt.java_learning.mybatis.weChat.pojo.MessageBean">
  	insert into message (command,description,content) values (#{command},#{description},#{content})
  </insert>
  
  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
  	insert into message (command,description,content) values 
  	<foreach collection="list" item="item" separator=",">
  		(#{item.command},#{item.description},#{item.content})
  	</foreach>
  </insert>
  
  <delete id="delete" parameterType="int[]">
  	delete from message  
  	<trim prefix="where" >
  		id in 
  		<!-- 注意!:: collection 属性: 
  		如果传入的参数为数组类型 值为:array ; 
  		 如果传入为list: 值为list
  		 如果自己以map包装,可以直接使用key作为值 -->
  		<foreach collection="array" item="i" open="(" close=")" separator=",">
  			#{i}
  		</foreach>
  	</trim>
  </delete>
  
  <update id="update">
  	update message set command = #{command},description =#{description},content =#{content} where id =#{id}
  </update>
  
<!--   <resultMap type="top.linjt.java_learning.util.Page" id="page"> -->
<!--   	<result/> -->
<!--   	<result /> -->
<!--   </resultMap>  -->
</mapper>
