html,body {
	width:100%;
	height:100%
}
body #operation button {
/* 	float:right; */
	margin:8px 8px 
}
.show {
	width:100%;
	height:100%
}
.dataList{
/* 	width:100%; */
/* 	height:100% */
}
.show button {
/* 	width:100%; */
/* 	height:100% */
	margin:8px 8px 
}
