<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:elasticSearch/elasticSearch.properties"/>

    <!--<bean class="org.elasticsearch.client.transport.TransportClient" id="client">-->
        <!--<property name=""-->
        <!--<constructor-arg name="settings" ref="settings"></constructor-arg>-->
        <!--<property name="cl"></property>-->

    <!--</bean>-->

    <!--<bean class="org.elasticsearch.common.settings.Settings" id="settings">-->
        <!--<property name=""-->
    <!--</bean>-->
</beans>